@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@import "flowbite";

.mulish {
  font-family: "Mulish", serif;
}

.ul-parent {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  list-style: none;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  text-decoration: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  background: black;
  height: 2px;
  border-radius: 5px;
  transform: scaleX(0);
  transition: all 0.6s ease;
}

.link:hover::before {
  transform: scaleX(0.8);
}

.active {
  color: #235784;
  background: #ddeaf6;
  border-radius: 8px;
}
